.about-bg {
  background-image: url(../../assets/about-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 84vh;
}
@media (max-width: 768px) {
  .about-bg {
    margin-top: 230px;
    background-image: url(../../assets/about-img.svg);
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
    background-attachment: fixed;
  }
}
